<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexrnov.butterflies">

    <!-- filters: -->
    <!-- supports-screens - lets you specify the screen sizes your application supports. It's important that you always use this
    element in your application to specify the screen sizes your application supports. normalScreen - this is an HVGA (480 x 320 or 640x240). -->
    <!-- requiresSmallestWidthDp="320" - Specifies the minimum smallestWidth required. The smallestWidth is the shortest dimension of the
    screen space (in dp units) that must be available to your application UI—that is, the shortest of the available screen's two dimensions.
    Usually, the value you supply for this is the "smallest width" that your layout supports, regardless of the screen's current orientation.
    A typical handset screen has a smallestWidth of 320dp. Value 320 is declared here to not support the screen - 640 x 240 -->
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="320"/>

    <permission
        android:name="alexrnov.butterflies.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="alexrnov.googlemap.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="alexrnov.butterflies.Initialization">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>

        <!-- android:theme="@style/AppTheme.NoActionBar so that don't two appbars -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".details.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alexrnov.butterflies.MainActivity" />
        </activity>
    </application>


</manifest>